Repository spack/spack-packages, pull requests merged in 2025-09, with the labels that each got.

#1232 lammps: remove deprecated versions prior to 2025
  repos/spack_repo/builtin/packages/lammps/package.py
Labels: update-package

#1026 affinity: Added better ROCm support, updated cmake variables
  repos/spack_repo/builtin/packages/affinity/package.py
Labels: dependencies, update-package, conflicts

#1056 CMake: add 4.1.0
  repos/spack_repo/builtin/packages/cmake/package.py
Labels: new-version, update-package

#1245 go-sh: add sh package (includes shfmt and gosh)
  repos/spack_repo/builtin/packages/go_sh/package.py
Labels: new-package, new-version, dependencies, conflicts, new-variant

#1242 Palace: Add fortran build-time requirement for necessary variants.
  repos/spack_repo/builtin/packages/palace/package.py
Labels: dependencies, update-package

#1250 py-hist: fix py-boost-histogram dependency
  repos/spack_repo/builtin/packages/py_hist/package.py
Labels: python, dependencies, update-package

#1156 Added mariadb 11.8.3 and 12.1.1
  repos/spack_repo/builtin/packages/mariadb/package.py
Labels: new-version, dependencies, update-package

#1049 quandary: add version and update variants
  repos/spack_repo/builtin/packages/quandary/package.py
Labels: new-version, dependencies, update-package, new-variant

#1109 perl: relax gdbm constraints
  repos/spack_repo/builtin/packages/perl/package.py
Labels: dependencies, update-package

#1271 mold: add 2.40.{3,4}
  repos/spack_repo/builtin/packages/mold/package.py
Labels: new-version, update-package

#1265 ci: add spack-reviewers to add maintainers to PRs
  .github/workflows/bin/spack-reviewers.py
  .github/workflows/triage.yml
Labels: maintainers, ci

#1270 gperftools: add 2.17, 2.17.1, 2.17.2
  repos/spack_repo/builtin/packages/gperftools/package.py
Labels: new-version, update-package

#1276 py-filelock: add v3.19.1 and py-hatch-vcs: add v0.5
  repos/spack_repo/builtin/packages/py_filelock/package.py
  repos/spack_repo/builtin/packages/py_hatch_vcs/package.py
Labels: new-version, python, dependencies, update-package

#1278 amrex: add v25.09
  repos/spack_repo/builtin/packages/amrex/package.py
Labels: new-version, update-package

#1269 py-executing: add v2.2.1
  repos/spack_repo/builtin/packages/py_executing/package.py
Labels: new-version, python, dependencies, update-package

#1268 py-etelemetry: add v0.3.1
  repos/spack_repo/builtin/packages/py_etelemetry/package.py
Labels: new-version, python, dependencies, update-package

#1266 py-bidscoin: add v4.6.2
  repos/spack_repo/builtin/packages/py_bidscoin/package.py
Labels: new-version, python, dependencies, update-package

#716 py-bids-validator-deno: add new package and deno: add new package
  repos/spack_repo/builtin/packages/deno/package.py
  repos/spack_repo/builtin/packages/py_bids_validator_deno/package.py
Labels: new-package, new-version, python, dependencies

#1261 (py-)fenics-dolfinx: build and dependency updates
  repos/spack_repo/builtin/packages/fenics_dolfinx/package.py
  repos/spack_repo/builtin/packages/py_fenics_dolfinx/package.py
Labels: python, dependencies, update-package, new-variant

#1259 Add m4 as build-time dependency for flint (required by configure)
  repos/spack_repo/builtin/packages/flint/package.py
Labels: dependencies, update-package

#1256 BWA: new versions and a patch fix
  repos/spack_repo/builtin/packages/bwa/package.py
Labels: new-version, patch, update-package

#1240 py-lightning: add v2.5.4
  repos/spack_repo/builtin/packages/py_lightning/package.py
Labels: new-version, python, update-package

#1260 fplll: Add C compiler as a dependency (otherwise configure fails)
  repos/spack_repo/builtin/packages/fplll/package.py
Labels: new-version, dependencies, update-package

#1282 CMake: version 4.1.1
  repos/spack_repo/builtin/packages/cmake/package.py
Labels: new-version, update-package

#1280 babeltrace: add elfutils dep
  repos/spack_repo/builtin/packages/babeltrace/package.py
Labels: dependencies, update-package

#1199 comgr: needs CMAKE_MODULE_PATH for llvm-amdgpu
  repos/spack_repo/builtin/packages/comgr/package.py
Labels: update-package

#1062 py-fenics-ufl: Fix test stage
  repos/spack_repo/builtin/packages/py_fenics_ufl/package.py
Labels: python, update-package

#1299 Fix macOS bootstrap test
  .github/workflows/bootstrap.yml
Labels: ci

#1293 nccl: add versions 2.28.1-1 and 2.28.3-1
  repos/spack_repo/builtin/packages/nccl/package.py
Labels: new-version, update-package

#1304 ci: use internal Spack SDK to satisfy @haampie's need for speed
  .github/workflows/bin/spack-reviewers.py
  .github/workflows/triage.yml
Labels: ci

#1285 htop: add v3.4.0 and v3.4.1.
  repos/spack_repo/builtin/packages/htop/package.py
Labels: new-version, update-package, waiting-on-maintainer

#1080 [nccl] added version 2.27.7-1
  repos/spack_repo/builtin/packages/nccl/package.py
Labels: update-package, conflicts

#1308 kokkos_fft: fix rocm compiler definition
  repos/spack_repo/builtin/packages/kokkos_fft/package.py
Labels: update-package

#1323 ninja: depends on python@:3.12 when @:1.11
  repos/spack_repo/builtin/packages/ninja/package.py
Labels: dependencies, update-package

#1367 givaro: new package
  repos/spack_repo/builtin/packages/givaro/package.py
Labels: new-package, new-version, dependencies

#1342 py-rioxarray: add v0.16.0
  repos/spack_repo/builtin/packages/py_rioxarray/package.py
Labels: new-version, python, dependencies, update-package, new-variant

#1337 mummer4: Fixed dependency, added new version
  repos/spack_repo/builtin/packages/mummer4/package.py
Labels: new-version, dependencies, update-package

#1320 kubectl: v1.33.4
  repos/spack_repo/builtin/packages/kubectl/package.py
Labels: new-version, update-package

#1309 hunspell: add c dependency
  repos/spack_repo/builtin/packages/hunspell/package.py
Labels: dependencies, update-package

#1295 compiler dependency: gxsview depends on cxx
  repos/spack_repo/builtin/packages/gxsview/package.py
Labels: dependencies, update-package

#1291 py-torchmetrics: add v1.8.2
  repos/spack_repo/builtin/packages/py_torchmetrics/package.py
Labels: new-version, python, update-package

#1343 py-torchgeo: fix minimum supported rasterio version
  repos/spack_repo/builtin/packages/py_torchgeo/package.py
Labels: python, dependencies, update-package

#1288 csdp: add 6.2.0 and generalize blas/lapack implementation
  repos/spack_repo/builtin/packages/csdp/package.py
Labels: new-version, dependencies, update-package

#1217 Deprecation removals: curl
  repos/spack_repo/builtin/packages/curl/package.py
  repos/spack_repo/builtin/packages/julia/julia-1.6-system-libwhich-and-p7zip-symlink.patch
  repos/spack_repo/builtin/packages/julia/package.py
  repos/spack_repo/builtin/packages/r/change_optflags_tmp.patch
  repos/spack_repo/builtin/packages/r/package.py
  repos/spack_repo/builtin/packages/r/zlib.patch
  repos/spack_repo/builtin/packages/r_affy/package.py
  repos/spack_repo/builtin/packages/r_asreml/package.py
  repos/spack_repo/builtin/packages/r_biostrings/package.py
  repos/spack_repo/builtin/packages/r_curl/package.py
  repos/spack_repo/builtin/packages/r_tictoc/package.py
Labels: R, dependencies, update-package, new-variant

#1312 Proj 7:9.1: add find_dependency on TIFF
  repos/spack_repo/builtin/packages/proj/package.py
  repos/spack_repo/builtin/packages/proj/proj_config_find_tiff_dep.patch
Labels: patch, update-package

#1252 py-gosam: Depend on setuptools since distutils is removed in python 3.13
  repos/spack_repo/builtin/packages/py_gosam/package.py
Labels: python, dependencies, update-package

#1381 Fixed c,cxx,fortran dependencies for R packages
  repos/spack_repo/builtin/packages/r_ape/package.py
  repos/spack_repo/builtin/packages/r_biasedurn/package.py
  repos/spack_repo/builtin/packages/r_biobase/package.py
  repos/spack_repo/builtin/packages/r_biostrings/package.py
  repos/spack_repo/builtin/packages/r_catools/package.py
  repos/spack_repo/builtin/packages/r_fastcluster/package.py
  repos/spack_repo/builtin/packages/r_filelock/package.py
  repos/spack_repo/builtin/packages/r_gtools/package.py
  repos/spack_repo/builtin/packages/r_kernsmooth/package.py
  repos/spack_repo/builtin/packages/r_limma/package.py
  repos/spack_repo/builtin/packages/r_locfit/package.py
  repos/spack_repo/builtin/packages/r_matrixstats/package.py
  repos/spack_repo/builtin/packages/r_plyr/package.py
  repos/spack_repo/builtin/packages/r_rcpparmadillo/package.py
  repos/spack_repo/builtin/packages/r_rcurl/package.py
  repos/spack_repo/builtin/packages/r_rhtslib/package.py
  repos/spack_repo/builtin/packages/r_rsamtools/package.py
  repos/spack_repo/builtin/packages/r_rsqlite/package.py
  repos/spack_repo/builtin/packages/r_sm/package.py
  repos/spack_repo/builtin/packages/r_xml/package.py
Labels: R, new-version, dependencies, update-package, conflicts

#1151 add mumps4py package to spack
  repos/spack_repo/builtin/packages/py_mumps4py/package.py
Labels: new-package, new-version, python, dependencies, maintainers

#1466 acts: only init submodules when +odd; HEP: rm opendatadetector
  repos/spack_repo/builtin/packages/acts/package.py
  stacks/hep/spack.yaml
Labels: new-version, update-package

#1223 Deprecation removals: E-H
  repos/spack_repo/builtin/packages/cabana/package.py
  repos/spack_repo/builtin/packages/ceed/package.py
  repos/spack_repo/builtin/packages/compiz/package.py
  repos/spack_repo/builtin/packages/ea_utils/package.py
  repos/spack_repo/builtin/packages/edm4hep/package.py
  repos/spack_repo/builtin/packages/elasticsearch/package.py
  repos/spack_repo/builtin/packages/elk/package.py
  repos/spack_repo/builtin/packages/elsi/package.py
  repos/spack_repo/builtin/packages/enzo/package.py
  repos/spack_repo/builtin/packages/eospac/package.py
  repos/spack_repo/builtin/packages/esmf/cstddef.patch
  repos/spack_repo/builtin/packages/esmf/package.py
  repos/spack_repo/builtin/packages/exa/package.py
  repos/spack_repo/builtin/packages/exodusii/package.py
  repos/spack_repo/builtin/packages/expat/package.py
  repos/spack_repo/builtin/packages/fairlogger/package.py
  repos/spack_repo/builtin/packages/fenics/package.py
  repos/spack_repo/builtin/packages/flecsi/package.py
  repos/spack_repo/builtin/packages/foam_extend/package.py
  repos/spack_repo/builtin/packages/freebayes/package.py
  repos/spack_repo/builtin/packages/gconf/package.py
  repos/spack_repo/builtin/packages/gdk_pixbuf/package.py
  repos/spack_repo/builtin/packages/geode/package.py
  repos/spack_repo/builtin/packages/geoip/package.py
  repos/spack_repo/builtin/packages/geopm_runtime/package.py
  repos/spack_repo/builtin/packages/geopm_service/nvml-v3.0.1.patch
  repos/spack_repo/builtin/packages/geopm_service/package.py
  repos/spack_repo/builtin/packages/ghostscript/package.py
  repos/spack_repo/builtin/packages/gimp/package.py
  repos/spack_repo/builtin/packages/ginkgo/package.py
  repos/spack_repo/builtin/packages/git/package.py
  repos/spack_repo/builtin/packages/git_lfs/package.py
  repos/spack_repo/builtin/packages/gmake/package.py
  repos/spack_repo/builtin/packages/gnupg/package.py
  repos/spack_repo/builtin/packages/go/package.py
  repos/spack_repo/builtin/packages/grandr/package.py
  repos/spack_repo/builtin/packages/graphviz/package.py
  repos/spack_repo/builtin/packages/gromacs/package.py
  repos/spack_repo/builtin/packages/gromacs_swaxs/package.py
  repos/spack_repo/builtin/packages/gslib/package.py
  repos/spack_repo/builtin/packages/gsoap/package.py
  repos/spack_repo/builtin/packages/gtkorvo_atl/package.py
  repos/spack_repo/builtin/packages/gtkplus/package.py
  repos/spack_repo/builtin/packages/guacamole_server/package.py
  repos/spack_repo/builtin/packages/gzip/package.py
  repos/spack_repo/builtin/packages/h5bench/package.py
  repos/spack_repo/builtin/packages/hapcut2/package.py
  repos/spack_repo/builtin/packages/hard/package.py
  repos/spack_repo/builtin/packages/harfbuzz/package.py
  repos/spack_repo/builtin/packages/heffte/fortran200.patch
  repos/spack_repo/builtin/packages/heffte/package.py
  repos/spack_repo/builtin/packages/hive/package.py
  repos/spack_repo/builtin/packages/hpctoolkit/package.py
  repos/spack_repo/builtin/packages/httpd/package.py
  repos/spack_repo/builtin/packages/hub/package.py
  repos/spack_repo/builtin/packages/postgis/package.py
  repos/spack_repo/builtin/packages/pulseaudio/package.py
  repos/spack_repo/builtin/packages/sublime_text/package.py
  repos/spack_repo/builtin/packages/ufs_weather_model/package.py
Labels: new-version, dependencies, patch, update-package, new-variant, remove-package

#1474 Revert "lzo: ensure #include <lzo/lzo1x.h> works with pkgconf cflags `-I${includedir}/lzo`"
  repos/spack_repo/builtin/packages/lzo/package.py
Labels: update-package

#145 ENH: Add `metatensor` and affiliated packages, migrating 50475
  repos/spack_repo/builtin/packages/libmetatensor/package.py
  repos/spack_repo/builtin/packages/libmetatensor_torch/package.py
  repos/spack_repo/builtin/packages/libmetatomic_torch/package.py
  repos/spack_repo/builtin/packages/py_metatensor_core/package.py
  repos/spack_repo/builtin/packages/py_metatensor_learn/package.py
  repos/spack_repo/builtin/packages/py_metatensor_operations/package.py
  repos/spack_repo/builtin/packages/py_metatensor_torch/package.py
  repos/spack_repo/builtin/packages/py_metatomic_torch/package.py
  repos/spack_repo/builtin/packages/py_vesin/package.py
Labels: new-package, new-version, python, dependencies, new-variant

#1510 py-patsy: add v1.0.1
  repos/spack_repo/builtin/packages/py_patsy/package.py
Labels: new-version, python, update-package

#1509 py-patool: add v4.0.1 + new dep package
  repos/spack_repo/builtin/packages/py_patool/package.py
  repos/spack_repo/builtin/packages/py_setuptools_reproducible/package.py
Labels: new-package, new-version, python, dependencies, update-package

#1486 Add cmake dependency for Python 3.12+ support
  repos/spack_repo/builtin/packages/tau/package.py
Labels: dependencies, update-package

#1025 zsh doesn't build with 6 series ncurses
  repos/spack_repo/builtin/packages/zsh/package.py
  repos/spack_repo/builtin/packages/zsh/pointer-types.patch
Labels: patch, update-package

#1511 gcovr: add v8.2, v8.3
  repos/spack_repo/builtin/packages/py_gcovr/package.py
Labels: new-version, python, dependencies, update-package

#1513 libcerf: Add missing build dependency
  repos/spack_repo/builtin/packages/libcerf/package.py
Labels: dependencies, update-package

#1450 Casacore support for v 3.7.1
  repos/spack_repo/builtin/packages/casacore/package.py
Labels: new-version, dependencies, update-package

#1507 py-pandocfilters: add v1.5.1
  repos/spack_repo/builtin/packages/py_pandocfilters/package.py
Labels: new-version, python, update-package

#1505 py-num2words: add v0.5.14
  repos/spack_repo/builtin/packages/py_num2words/package.py
Labels: new-version, python, update-package

#1504 py-notebook-shim: add v0.2.4
  repos/spack_repo/builtin/packages/py_notebook_shim/package.py
Labels: new-version, python, update-package

#1383 py-snoop: add v0.6.0
  repos/spack_repo/builtin/packages/py_snoop/package.py
Labels: new-version, python, dependencies, update-package

#1473 py-nbformat: add v5.10.4
  repos/spack_repo/builtin/packages/py_nbformat/package.py
Labels: new-version, python, dependencies, update-package, conflicts

#1464 py-scipy: add v1.16.2
  repos/spack_repo/builtin/packages/py_scipy/package.py
Labels: new-version, python, update-package

#1408 scorecard: new package
  repos/spack_repo/builtin/packages/scorecard/package.py
Labels: new-package, new-version

#1448 py-nbclient: add v0.10.2
  repos/spack_repo/builtin/packages/py_nbclient/package.py
Labels: new-version, python, dependencies, update-package

#1447 osi: Add build dependency to 'c'.
  repos/spack_repo/builtin/packages/osi/package.py
Labels: dependencies, update-package

#1438 py_cftime: Add build dependency on 'c'
  repos/spack_repo/builtin/packages/py_cftime/package.py
Labels: python, dependencies, update-package

#1443 py-multiecho: add v0.31
  repos/spack_repo/builtin/packages/py_multiecho/package.py
Labels: new-version, python, dependencies, update-package

#1440 py-msgpack: add v1.1.1
  repos/spack_repo/builtin/packages/py_msgpack/package.py
Labels: new-version, python, dependencies, update-package

#1419 py-looseversion: add v1.3.0
  repos/spack_repo/builtin/packages/py_looseversion/package.py
Labels: new-version, python, update-package

#1407 py-jupyterlab: add v4.4.7
  repos/spack_repo/builtin/packages/py_jupyterlab/package.py
Labels: new-version, python, dependencies, update-package, conflicts

#1398 py-jupyter-server-terminals: add v0.5.3
  repos/spack_repo/builtin/packages/py_jupyter_server_terminals/package.py
Labels: new-version, python, update-package

#1396 FEniCSx: deprecate older releases
  repos/spack_repo/builtin/packages/fenics_basix/package.py
  repos/spack_repo/builtin/packages/fenics_dolfinx/package.py
  repos/spack_repo/builtin/packages/fenics_ufcx/package.py
  repos/spack_repo/builtin/packages/py_fenics_basix/package.py
  repos/spack_repo/builtin/packages/py_fenics_dolfinx/package.py
  repos/spack_repo/builtin/packages/py_fenics_ffcx/package.py
  repos/spack_repo/builtin/packages/py_fenics_ufl/package.py
Labels: new-version, python, update-package

#1395 py-jupyter-events: add v0.12.0
  repos/spack_repo/builtin/packages/py_jupyter_events/package.py
Labels: new-version, python, dependencies, update-package

#1235 py-pyvista: fix dependency and add v0.46.3
  repos/spack_repo/builtin/packages/py_pyvista/package.py
Labels: new-version, python, dependencies, update-package

#1339 fastani, py_macs2, tophat: Fixed compilation, dependencies
  repos/spack_repo/builtin/packages/fastani/package.py
  repos/spack_repo/builtin/packages/py_macs2/package.py
  repos/spack_repo/builtin/packages/tophat/package.py
Labels: python, dependencies, update-package

#1422 lmod: depends on pkgconf
  repos/spack_repo/builtin/packages/lmod/package.py
Labels: dependencies, update-package

#141 py_torch: add binutils as a dependency
  repos/spack_repo/builtin/packages/py_torch/package.py
Labels: python, dependencies, update-package

#1361 py-zarr: add new version, fix deps
  repos/spack_repo/builtin/packages/py_crc32c/package.py
  repos/spack_repo/builtin/packages/py_numcodecs/package.py
  repos/spack_repo/builtin/packages/py_zarr/package.py
Labels: new-package, new-version, python, dependencies, update-package, new-variant

#1535 aspell: add patch to support gcc@15: and clang
  repos/spack_repo/builtin/packages/aspell/package.py
Labels: patch, update-package

#1533 Deprecation removals: LLVM
  repos/spack_repo/builtin/packages/llvm/package.py
Labels: update-package

#1519 Update py-tables package for 3.10+ compatibility
  repos/spack_repo/builtin/packages/py_tables/package.py
Labels: new-version, python, dependencies, update-package

#1492 libfabric: kdreg variant
  repos/spack_repo/builtin/packages/libfabric/package.py
Labels: update-package, new-variant

#1554 liburing: add v2.12
  repos/spack_repo/builtin/packages/liburing/package.py
Labels: new-version, update-package

#1555 bfs: add v4.1
  repos/spack_repo/builtin/packages/bfs/package.py
Labels: new-version, update-package

#1565 Deprecation removals: N
  repos/spack_repo/builtin/packages/nag/package.py
  repos/spack_repo/builtin/packages/namd/package.py
  repos/spack_repo/builtin/packages/neko/package.py
  repos/spack_repo/builtin/packages/neovim/package.py
  repos/spack_repo/builtin/packages/netcdf_cxx4/package.py
  repos/spack_repo/builtin/packages/nextflow/package.py
  repos/spack_repo/builtin/packages/nim/package.py
  repos/spack_repo/builtin/packages/nss/package.py
Labels: dependencies, update-package, new-variant

#1553 gopls: add v0.20.0
  repos/spack_repo/builtin/packages/gopls/package.py
Labels: new-version, dependencies, update-package

#1568 mapl: Add v2.61.0, conflict ESMF v9 for older versions
  repos/spack_repo/builtin/packages/mapl/package.py
Labels: new-version, update-package, conflicts

#1570 qt-tools: adds depends for c, cxx
  repos/spack_repo/builtin/packages/qt_tools/package.py
Labels: dependencies, update-package

#1319 ELPA: new version 2025.06.001
  repos/spack_repo/builtin/packages/elpa/package.py
Labels: new-version, patch, update-package

#1561 Deprecation removals: OCE
  repos/spack_repo/builtin/packages/cgm/package.py
  repos/spack_repo/builtin/packages/dealii/package.py
  repos/spack_repo/builtin/packages/gmsh/package.py
  repos/spack_repo/builtin/packages/kicad/package.py
  repos/spack_repo/builtin/packages/netgen/package.py
  repos/spack_repo/builtin/packages/oce/null.patch
  repos/spack_repo/builtin/packages/oce/package.py
  repos/spack_repo/builtin/packages/oce/xlocale.patch
  repos/spack_repo/builtin/packages/xsdk/package.py
Labels: dependencies, update-package, remove-package

#1577 binutils: add v2.45
  repos/spack_repo/builtin/packages/binutils/package.py
Labels: new-version, update-package

#1139 otf2: Lift requirement on Python <= 3.11 for newer versions
  repos/spack_repo/builtin/packages/otf2/package.py
Labels: dependencies, update-package

#1556 py-prov: add v2.1.1
  repos/spack_repo/builtin/packages/py_prov/package.py
Labels: new-version, python, dependencies, update-package, new-variant

#1536 py-platformdirs: add v4.4.0
  repos/spack_repo/builtin/packages/py_platformdirs/package.py
Labels: new-version, python, dependencies, update-package

#1549 py-prompt-toolkit: add v3.0.52
  repos/spack_repo/builtin/packages/py_prompt_toolkit/package.py
Labels: new-version, python, dependencies, update-package

#1540 py-poetry-core: add v2.2.0
  repos/spack_repo/builtin/packages/py_poetry_core/package.py
Labels: new-version, python, update-package

#1534 py-pdm-backend: add v2.4.5
  repos/spack_repo/builtin/packages/py_pdm_backend/package.py
Labels: new-version, python, dependencies, update-package

#1521 py-mne-bids: add v0.17.0
  repos/spack_repo/builtin/packages/py_mne_bids/package.py
Labels: new-version, python, dependencies, update-package

#1520 py-jupyter-server: add v2.17.0
  repos/spack_repo/builtin/packages/py_jupyter_server/package.py
Labels: new-version, python, dependencies, update-package

#1494 py-traits: add v7.0.2
  repos/spack_repo/builtin/packages/py_traits/package.py
Labels: new-version, python, dependencies, update-package

#1488 py-pywavelets: add v1.9.0
  repos/spack_repo/builtin/packages/py_pywavelets/package.py
Labels: new-version, python, dependencies, update-package

#1442 py-multidict: add v6.6.4
  repos/spack_repo/builtin/packages/py_multidict/package.py
Labels: new-version, python, dependencies, update-package

#1425 py-mistune: add v3.1.4
  repos/spack_repo/builtin/packages/py_mistune/package.py
Labels: new-version, python, dependencies, update-package

#1423 py-mako: add v1.3.10
  repos/spack_repo/builtin/packages/py_mako/package.py
Labels: new-version, python, dependencies, update-package

#1420 py-lxml: add v6.0.1
  repos/spack_repo/builtin/packages/py_lxml/package.py
Labels: new-version, python, dependencies, update-package

#1385 py-jsonpointer: add v3.0.0
  repos/spack_repo/builtin/packages/py_jsonpointer/package.py
Labels: new-version, python, dependencies, update-package

#1377 py-joblib: add v1.5.2
  repos/spack_repo/builtin/packages/py_joblib/package.py
Labels: new-version, python, dependencies, update-package

#1378 py-json5: add v0.12.1
  repos/spack_repo/builtin/packages/py_json5/package.py
Labels: new-version, python, dependencies, update-package

#1353 py-iniconfig: add v2.1.0
  repos/spack_repo/builtin/packages/py_iniconfig/package.py
Labels: new-version, python, dependencies, update-package

#1476 py-networkx: add v3.5
  repos/spack_repo/builtin/packages/py_networkx/package.py
Labels: new-version, python, dependencies, update-package

#1328 py-idna: add v3.10
  repos/spack_repo/builtin/packages/py_idna/package.py
Labels: new-version, python, dependencies, update-package

#1298 py-narwhals: add v2.3.0
  repos/spack_repo/builtin/packages/py_narwhals/package.py
Labels: new-version, python, dependencies, update-package

#1397 py-jupyter-lsp: add v2.3.0
  repos/spack_repo/builtin/packages/py_jupyter_lsp/package.py
Labels: new-version, python, update-package

#1294 py-flask-restful: add v0.3.10
  repos/spack_repo/builtin/packages/py_flask_restful/package.py
Labels: new-version, python, update-package

#1433 py-ipython-pygments-lexers: add new package
  repos/spack_repo/builtin/packages/py_ipython_pygments_lexers/package.py
Labels: new-package, new-version, python, dependencies

#1593 py-uv: add missing gmake dependency
  repos/spack_repo/builtin/packages/py_uv/package.py
Labels: python, dependencies, update-package

#1586 verilator: add v5.040
  repos/spack_repo/builtin/packages/verilator/package.py
Labels: new-version, update-package

#1587 verible: add v0.0.4023
  repos/spack_repo/builtin/packages/verible/package.py
Labels: new-version, update-package

#1588 dealii: add v9.7
  repos/spack_repo/builtin/packages/dealii/package.py
Labels: new-version, dependencies, update-package

#1559 PythonPackage: empty libs/headers by default
  repos/spack_repo/builtin/build_systems/python.py
  repos/spack_repo/builtin/packages/py_pythran/package.py
Labels: python, update-package, headers

#1608 ruff: add gmake as a build dependency
  repos/spack_repo/builtin/packages/py_ruff/package.py
Labels: python, dependencies, update-package

#1595 add MVAPICH 4.1 release
  repos/spack_repo/builtin/packages/mvapich/package.py
Labels: new-version, update-package

#1600 fix broken conditional variant default for icu4c causing solver hang
  repos/spack_repo/builtin/packages/icu4c/package.py
Labels: update-package

#726 py-ruff: add v0.12.4, v0.13.0
  repos/spack_repo/builtin/packages/py_ruff/package.py
  repos/spack_repo/builtin/packages/py_setuptools_rust/package.py
Labels: new-version, python, dependencies, update-package

#1632 proj: add v9.7.0
  repos/spack_repo/builtin/packages/proj/package.py
Labels: new-version, update-package

#1647 py-pycodestyle: add v2.14.0
  repos/spack_repo/builtin/packages/py_pycodestyle/package.py
Labels: new-version, python, update-package

#1635 py-universal-pathlib: add new package
  repos/spack_repo/builtin/packages/py_universal_pathlib/package.py
Labels: new-package, new-version, python, dependencies, conflicts

#1629 pmix: fix build
  repos/spack_repo/builtin/packages/pmix/package.py
Labels: dependencies, update-package

#1619 py-json-tricks: add new package
  repos/spack_repo/builtin/packages/py_json_tricks/package.py
Labels: new-package, new-version, python, dependencies

#908 holoviz: update all
  repos/spack_repo/builtin/packages/py_colorcet/package.py
  repos/spack_repo/builtin/packages/py_datashader/package.py
  repos/spack_repo/builtin/packages/py_geoviews/package.py
  repos/spack_repo/builtin/packages/py_holoviews/package.py
  repos/spack_repo/builtin/packages/py_hvplot/package.py
  repos/spack_repo/builtin/packages/py_panel/package.py
  repos/spack_repo/builtin/packages/py_param/package.py
  repos/spack_repo/builtin/packages/py_spatialpandas/package.py
Labels: new-version, python, dependencies, update-package

#1636 Relaxation of cuDNN version 9+ for PyTorch 2.8+
  repos/spack_repo/builtin/packages/py_torch/package.py
Labels: python, dependencies, update-package

#871 netcdf-c: depends on curl
  repos/spack_repo/builtin/packages/netcdf_c/package.py
Labels: dependencies, update-package

#1471 ghostscript: add fontconfig as a link dependent
  repos/spack_repo/builtin/packages/ghostscript/package.py
Labels: dependencies, update-package

#1172 Add package py-dolfinx-mpc
  repos/spack_repo/builtin/packages/dolfinx_mpc/package.py
  repos/spack_repo/builtin/packages/py_dolfinx_mpc/package.py
Labels: new-package, new-version, python, dependencies, update-package, new-variant

#1620 laynii: add v2.8.0
  repos/spack_repo/builtin/packages/laynii/limits.patch
  repos/spack_repo/builtin/packages/laynii/package.py
Labels: new-version, patch, update-package

#1613 py-ipyevents: add v2.0.4
  repos/spack_repo/builtin/packages/py_ipyevents/package.py
Labels: new-version, python, dependencies, update-package

#1615 py-nipype: add v1.10.0
  repos/spack_repo/builtin/packages/py_nipype/package.py
Labels: new-version, python, dependencies, update-package, conflicts

#1490 py-nibabel: add v5.3.2
  repos/spack_repo/builtin/packages/py_nibabel/package.py
Labels: new-version, python, dependencies, update-package

#1614 py-jupyter-leaflet: add v0.20.0
  repos/spack_repo/builtin/packages/py_jupyter_leaflet/package.py
Labels: new-version, python, update-package

#1297 py-formulaic: add v1.2.0 and py-wrapt: add v1.17.3
  repos/spack_repo/builtin/packages/py_formulaic/package.py
  repos/spack_repo/builtin/packages/py_wrapt/package.py
Labels: new-version, python, dependencies, update-package

#1496 MajorVersion number for pciutils shared library
  repos/spack_repo/builtin/packages/pciutils/package.py
  repos/spack_repo/builtin/packages/rocm_validation_suite/package.py
Labels: dependencies, update-package

#1649 fsl: remove upper bound vtk@:8 to fix concretization error
  repos/spack_repo/builtin/packages/fsl/package.py
Labels: dependencies, update-package

#1624 bdw-gc: add "cxx" variant for C++ support
  repos/spack_repo/builtin/packages/bdw_gc/package.py
Labels: dependencies, update-package, new-variant

#1623 topcom: new package
  repos/spack_repo/builtin/packages/topcom/package.py
Labels: new-package, new-version, dependencies

#1195 itk: checksum new versions
  repos/spack_repo/builtin/packages/itk/package.py
Labels: new-version, update-package

#1525 octopus: add v16.1, v16.2
  repos/spack_repo/builtin/packages/octopus/package.py
Labels: new-version, update-package

#1325 Updated r packages, depends_on, broken packages
  repos/spack_repo/builtin/packages/express/package.py
  repos/spack_repo/builtin/packages/jellyfish/package.py
  repos/spack_repo/builtin/packages/r_limma/package.py
  repos/spack_repo/builtin/packages/r_rcurl/package.py
  repos/spack_repo/builtin/packages/trinity/package.py
Labels: R, dependencies, update-package
