Repository spack/spack-packages, pull requests merged in 2025-07, with the labels that each got.

#422 sundials: add v7.4.0
  repos/spack_repo/builtin/packages/sundials/package.py
Labels: new-version, xSDK

#317 Kokkos: deprecate versions older than 3.7.2
  repos/spack_repo/builtin/packages/kokkos/package.py
  repos/spack_repo/builtin/packages/kokkos_kernels/package.py
  repos/spack_repo/builtin/packages/kokkos_nvcc_wrapper/package.py
  repos/spack_repo/builtin/packages/paraview/package.py
Labels: wait-on-reviewers

#325 openfoam: Updating cgal version due to build failures (missing binaries)
  repos/spack_repo/builtin/packages/openfoam/package.py
Labels: waiting-on-maintainer

#179 py-pylint: add version 3.3.7
  repos/spack_repo/builtin/packages/py_astroid/package.py
  repos/spack_repo/builtin/packages/py_pylint/package.py
  repos/spack_repo/builtin/packages/py_pylint_gitlab/package.py
Labels: new-version, dependencies, core

#116 UWtools: new package and dependency package (`iotaa`)
  repos/spack_repo/builtin/packages/iotaa/package.py
  repos/spack_repo/builtin/packages/uwtools/package.py
Labels: new-version, dependencies, core

#517 ucx: add v1.18.1
  repos/spack_repo/builtin/packages/ucx/package.py
Labels: new-version, conflicts, core

#78 Add kokkos-fft
  repos/spack_repo/builtin/packages/kokkos_fft/package.py
Labels: new-version, dependencies, new-variant, core

#223 cgns: patch for compiling with nvfortran
  repos/spack_repo/builtin/packages/cgns/cgns-4.5-nvfortran.patch
  repos/spack_repo/builtin/packages/cgns/package.py
Labels: waiting-on-maintainer

#493 py-trove-classifiers: add v2025.5.9.12
  repos/spack_repo/builtin/packages/py_trove_classifiers/package.py
Labels: new-version, python, update-package

#521 macos_sdk_path: inline
  repos/spack_repo/builtin/packages/gcc/package.py
  repos/spack_repo/builtin/packages/llvm/package.py
Labels: core

#508 gcc: update +nvptx logic
  repos/spack_repo/builtin/packages/gcc/package.py
Labels: update-package, conflicts, core

#309 ninja: add version 1.13.0
  repos/spack_repo/builtin/packages/ninja/package.py
Labels: new-version, core

#548 geomodel: Add version 6.15.0
  repos/spack_repo/builtin/packages/geomodel/package.py
Labels: new-version, update-package

#436 root: patch handling of CMAKE_INSTALL_RPATH
  repos/spack_repo/builtin/packages/root/package.py
Labels: update-package

#195 Add conflict for package scotch with Intel oneAPI compilers
  .ci/gitlab/stacks/aws-pcluster-x86_64_v4/spack.yaml
  repos/spack_repo/builtin/packages/scotch/package.py
Labels: update-package, conflicts

#374 Py_xcdat: new package
  repos/spack_repo/builtin/packages/py_cf_xarray/package.py
  repos/spack_repo/builtin/packages/py_sparse/package.py
  repos/spack_repo/builtin/packages/py_xcdat/package.py
  repos/spack_repo/builtin/packages/py_xgcm/package.py
Labels: new-package, new-version, python, dependencies, update-package

#468 intel-oneapi: enable determining openmp runtime
  repos/spack_repo/builtin/build_systems/oneapi.py
  repos/spack_repo/builtin/packages/intel_oneapi_mkl/package.py
Labels: dependencies, virtual-dependencies, intel, update-package

#636 llvm: update description for flang variant
  repos/spack_repo/builtin/packages/llvm/package.py
Labels: update-package, new-variant

#635 bear: add v3.1.4, v3.1.5, v3.1.6
  repos/spack_repo/builtin/packages/bear/package.py
Labels: new-version, update-package

#657 arborx: version 2.0.1
  repos/spack_repo/builtin/packages/arborx/package.py
Labels: new-version, update-package

#644 just: new package
  repos/spack_repo/builtin/packages/just/package.py
Labels: new-package, new-version, dependencies

#561 GDAL: add v3.11.1-3, fix +arrow build
  repos/spack_repo/builtin/packages/arrow/package.py
  repos/spack_repo/builtin/packages/gdal/package.py
Labels: new-version, dependencies, update-package, new-variant

#639 angsd: install misc/NGSadmix binary into the bin directory.
  repos/spack_repo/builtin/packages/angsd/package.py
Labels: update-package

#632 py-beniget: add v0.4.2.post1
  repos/spack_repo/builtin/packages/py_beniget/package.py
Labels: new-version, python, dependencies, update-package

#630 py-babel: add v2.17.0
  repos/spack_repo/builtin/packages/py_babel/package.py
Labels: new-version, python, update-package

#628 pkgconf: add v2.5.1
  repos/spack_repo/builtin/packages/pkgconf/package.py
Labels: new-version, update-package

#627 py-attrs: add v25.3.0
  repos/spack_repo/builtin/packages/py_attrs/package.py
  repos/spack_repo/builtin/packages/py_hatch_fancy_pypi_readme/package.py
Labels: new-version, python, dependencies, update-package

#610 sentieon-genomics: adding v202503.01
  repos/spack_repo/builtin/packages/sentieon_genomics/package.py
Labels: new-version, update-package

#658 stow: add v2.4.1
  repos/spack_repo/builtin/packages/stow/package.py
Labels: new-version, update-package

#608 py-anyio: add v4.9.0
  repos/spack_repo/builtin/packages/py_anyio/package.py
Labels: new-version, python, dependencies, update-package

#586 readline: add v8.3
  repos/spack_repo/builtin/packages/readline/package.py
Labels: new-version, update-package

#588 rocksdb: add v10.4.2
  repos/spack_repo/builtin/packages/rocksdb/package.py
Labels: new-version, update-package

#648 mochi-thallium: requires C compiler
  repos/spack_repo/builtin/packages/mochi_thallium/package.py
Labels: dependencies, update-package, waiting-on-maintainer

#623 shred: new package
  repos/spack_repo/builtin/packages/shred/package.py
Labels: new-package, new-version, dependencies

#664 xorg-server: avoid implicit LibraryList to str conversion warning
  repos/spack_repo/builtin/packages/xorg_server/package.py
Labels: update-package

#629 perl: add v5.42.0, v5.40.2
  repos/spack_repo/builtin/packages/perl/package.py
Labels: new-version, update-package

#637 BLAS: normalize test symbols on Windows
  repos/spack_repo/builtin/packages/openblas/blas_normalize_test_symbols.patch
  repos/spack_repo/builtin/packages/openblas/package.py
Labels: patch, update-package

#677 py-numba: fix python dependency bounds
  repos/spack_repo/builtin/packages/py_llvmlite/package.py
  repos/spack_repo/builtin/packages/py_numba/package.py
Labels: python, dependencies, update-package

#173 Add py cuda bindings package
  repos/spack_repo/builtin/packages/py_cuda_bindings/package.py
  repos/spack_repo/builtin/packages/py_pyclibrary/package.py
Labels: new-package, new-version, python, dependencies

#236 intel_gtpin: add 4.5.0
  repos/spack_repo/builtin/packages/intel_gtpin/package.py
Labels: waiting-on-maintainer

#678 Backports v2025.07
  repos/spack_repo/builtin/packages/gcc/package.py
Labels: backports

#182 py-numpy: respect mkl +ilp64 and threads variants
  repos/spack_repo/builtin/packages/py_numpy/package.py
  repos/spack_repo/builtin/packages/py_scipy/package.py
Labels: python, update-package, conflicts

#692 tk: needs c compiler to build
  repos/spack_repo/builtin/packages/tk/package.py
Labels: dependencies, update-package

#694 libdrm: version is property of spec
  repos/spack_repo/builtin/packages/libdrm/package.py
Labels: update-package

#696 gdal: parquet support needs arrow with parquet and fs support
  repos/spack_repo/builtin/packages/gdal/package.py
Labels: dependencies, update-package

#699 Generalize Intel logic to support package names too
  repos/spack_repo/builtin/packages/esmf/package.py
Labels: update-package

#691 zfp: fix CMake argument mistake
  repos/spack_repo/builtin/packages/zfp/package.py
Labels: update-package

#241 pmix: add v5.0.[6-8], v6.0.0; prrte: add v[2-4]; opempi ~internal-pmix
  repos/spack_repo/builtin/packages/openmpi/package.py
  repos/spack_repo/builtin/packages/pmix/package.py
  repos/spack_repo/builtin/packages/prrte/package.py
Labels: new-version, dependencies, update-package

#693 parallelio: add 2.6.6 checksum
  repos/spack_repo/builtin/packages/parallelio/package.py
Labels: new-version, update-package

#409 Geant3: add version 4-4, fix deprecated ROOT variant dependency
  repos/spack_repo/builtin/packages/geant3/package.py
Labels: new-version, dependencies, update-package

#714 nlcglib depends on fmt, new squashfuse versions
  repos/spack_repo/builtin/packages/nlcglib/package.py
  repos/spack_repo/builtin/packages/squashfuse/package.py
Labels: new-version, dependencies, update-package

#717 Update pmix 5.0.3 checksum
  repos/spack_repo/builtin/packages/pmix/package.py
Labels: new-version, update-package

#711 cgal: relax cmake requirement
  repos/spack_repo/builtin/packages/cgal/package.py
Labels: dependencies, update-package

#736 netcdf-c: prepare the Autotools builder for version 4.9.3
  repos/spack_repo/builtin/packages/netcdf_c/package.py
Labels: update-package, conflicts

#734 slurm: add v24 and v25
  repos/spack_repo/builtin/packages/slurm/package.py
Labels: new-version, dependencies, update-package, maintainers

#731 python-venv: memoize sysconfig call
  repos/spack_repo/builtin/packages/python_venv/package.py
Labels: update-package

#750 py-blinker: add v1.9.0
  repos/spack_repo/builtin/packages/py_blinker/package.py
Labels: new-version, python, dependencies, update-package

#718 perl-xml-parser: add compiler dependency
  repos/spack_repo/builtin/packages/perl_xml_parser/package.py
Labels: dependencies, update-package

#719 perl-clone: add compiler dependency
  repos/spack_repo/builtin/packages/perl_clone/package.py
Labels: dependencies, update-package

#742 libmesh: add missing fortran dependency
  repos/spack_repo/builtin/packages/libmesh/package.py
Labels: dependencies, update-package

#732 Update SUNDIALS commit hashes after rebase
  repos/spack_repo/builtin/packages/sundials/package.py
Labels: new-version, update-package

#753 libdwarf: remove url for version and add v2.1.0
  repos/spack_repo/builtin/packages/libdwarf/package.py
Labels: new-version, update-package

#745 llvm: add v20.1.7 and v20.1.8
  repos/spack_repo/builtin/packages/llvm/package.py
Labels: new-version, update-package

#766 just: add a dependency on C
  repos/spack_repo/builtin/packages/just/package.py
Labels: dependencies, update-package

#757 jujutsu: add latest version
  repos/spack_repo/builtin/packages/jujutsu/package.py
Labels: new-version, dependencies, update-package

#746 texlive: add v20250308
  repos/spack_repo/builtin/packages/texlive/package.py
Labels: update-package

#754 openblas: add v0.3.30
  repos/spack_repo/builtin/packages/openblas/package.py
Labels: new-version, update-package

#737 py-bleach: add v6.2.0
  repos/spack_repo/builtin/packages/py_bleach/package.py
Labels: new-version, python, dependencies, update-package

#727 JAX: add v0.7.0
  repos/spack_repo/builtin/packages/py_jax/package.py
  repos/spack_repo/builtin/packages/py_jaxlib/package.py
Labels: new-version, python, dependencies, patch, update-package

#713 lammps: add v20250722, v20240829.4, deprecate patch releases
  repos/spack_repo/builtin/packages/lammps/package.py
Labels: new-version, dependencies, update-package

#701 py-numpy: fix support for C++23 compilers
  repos/spack_repo/builtin/packages/py_numpy/package.py
Labels: python, patch, update-package

#697 exmcutils: add v0.6.4, add maintainer, use autoreconf()
  repos/spack_repo/builtin/packages/exmcutils/package.py
Labels: new-version, update-package

#687 ncvis: wxwidgets dependency needs gui
  repos/spack_repo/builtin/packages/ncvis/package.py
Labels: dependencies, update-package

#760 py-calver: add v2025.4.17
  repos/spack_repo/builtin/packages/py_calver/package.py
Labels: new-version, python, dependencies, update-package

#765 nalu-wind: add version 2.4.0
  repos/spack_repo/builtin/packages/nalu_wind/package.py
Labels: new-version, dependencies, update-package

#755 qt: add v5.15.17
  repos/spack_repo/builtin/packages/qt/package.py
Labels: new-version, update-package

#770 py-click: add v8.2.1
  repos/spack_repo/builtin/packages/py_click/package.py
Labels: new-version, python, dependencies, update-package

#758 miopen-hip and rocblas: add hipblaslt variant
  repos/spack_repo/builtin/packages/miopen_hip/package.py
  repos/spack_repo/builtin/packages/rocblas/package.py
Labels: dependencies, update-package, new-variant

#728 Kokkos Kernels: Require Kokkos PIC when building shared library
  repos/spack_repo/builtin/packages/kokkos_kernels/package.py
Labels: dependencies, update-package

#787 sherpa: filter_file to fix failing texinfo file
  repos/spack_repo/builtin/packages/sherpa/package.py
Labels: update-package

#496 MFEM: add new version v4.8
  .ci/gitlab/stacks/radiuss-aws-aarch64/spack.yaml
  .ci/gitlab/stacks/radiuss-aws/spack.yaml
  .ci/gitlab/stacks/radiuss/spack.yaml
  repos/spack_repo/builtin/packages/enzyme/package.py
  repos/spack_repo/builtin/packages/llvm/package.py
  repos/spack_repo/builtin/packages/mfem/mfem-4.8-nvcc-c++17.patch
  repos/spack_repo/builtin/packages/mfem/package.py
  repos/spack_repo/builtin/packages/petsc/package.py
  repos/spack_repo/builtin/packages/spectrum_mpi/package.py
  repos/spack_repo/builtin/packages/sundials/package.py
Labels: new-version, dependencies, virtual-dependencies, patch, update-package, conflicts, new-variant, waiting-on-maintainer

#653 Miscellaneous Fixes for ROCm Recipes
  repos/spack_repo/builtin/packages/aqlprofile/package.py
  repos/spack_repo/builtin/packages/mivisionx/package.py
  repos/spack_repo/builtin/packages/rocdecode/package.py
  repos/spack_repo/builtin/packages/rocm_examples/package.py
  repos/spack_repo/builtin/packages/rocprofiler_sdk/package.py
  repos/spack_repo/builtin/packages/rocpydecode/package.py
  repos/spack_repo/builtin/packages/roctracer_dev/package.py
Labels: dependencies, update-package

#399 py-tilelang: new package
  repos/spack_repo/builtin/packages/py_tilelang/package.py
Labels: new-package, new-version, python, dependencies

#780 py-httptools: add v0.6.4
  repos/spack_repo/builtin/packages/py_httptools/package.py
Labels: new-version, python, dependencies, update-package

#541 Python: overhaul windows installer
  .ci/gitlab/stacks/windows-vis/spack.yaml
  repos/spack_repo/builtin/packages/python/package.py
Labels: python, update-package

#751 nvbandwidth: add v0.8; fix dependency
  repos/spack_repo/builtin/packages/nvbandwidth/package.py
Labels: new-version, dependencies, update-package

#537 sirius require cmake>=3.25
  repos/spack_repo/builtin/packages/sirius/package.py
Labels: dependencies, update-package

#504 nvshmem: introduce cmake, add new versions 3 and libfabric variant
  repos/spack_repo/builtin/packages/nvshmem/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#775 py-scikit-build-core: add v0.11.5
  repos/spack_repo/builtin/packages/py_scikit_build_core/package.py
Labels: new-version, python, dependencies, update-package

#555 py-typeguard: added version 4.4.4
  repos/spack_repo/builtin/packages/py_typeguard/package.py
Labels: new-version, python, dependencies, update-package

#785 py-cryptography: add v45.0.5 and update dependency packages
  repos/spack_repo/builtin/packages/py_cryptography/package.py
  repos/spack_repo/builtin/packages/py_maturin/package.py
  repos/spack_repo/builtin/packages/py_setuptools_rust/package.py
Labels: new-version, python, dependencies, update-package, conflicts

#246 node-js: add v24.2.0
  repos/spack_repo/builtin/packages/node_js/package.py
Labels: new-version, dependencies, update-package

#798 py-docutils: add v0.21.2
  repos/spack_repo/builtin/packages/py_docutils/package.py
Labels: new-version, python, dependencies, update-package

#826 py-cycler: add v0.12.1
  repos/spack_repo/builtin/packages/py_cycler/package.py
Labels: new-version, python, dependencies, update-package

#813 genie: add v3.6.2
  repos/spack_repo/builtin/packages/genie/package.py
Labels: new-version, update-package

#818 py-jinja2: add v3.1.6
  repos/spack_repo/builtin/packages/py_jinja2/package.py
Labels: new-version, python, update-package

#812 gaudi: add v40.0
  repos/spack_repo/builtin/packages/gaudi/package.py
Labels: new-version, patch, update-package

#518 py_contourpy: Adjust py-setuptools dependency
  repos/spack_repo/builtin/packages/py_contourpy/package.py
Labels: python, dependencies, update-package

#830 gdrcopy: use `cuda_arch` information
  repos/spack_repo/builtin/packages/gdrcopy/package.py
Labels: update-package

#675 py-flash-attn: add v2.8.1
  repos/spack_repo/builtin/packages/py_flash_attn/package.py
Labels: new-version, python, dependencies, update-package

#857 openmpi: Fix style issue not caught in #357
  repos/spack_repo/builtin/packages/openmpi/package.py
Labels: update-package, new-variant

#849 py_ase: new versions and maintainer
  repos/spack_repo/builtin/packages/py_ase/package.py
Labels: new-version, python, dependencies, update-package

#771 kadath: Update source git repo and fix build
  repos/spack_repo/builtin/packages/kadath/package.py
Labels: new-version, dependencies, update-package

#870 Update compadre and py-pycompadre to v1.6.2
  repos/spack_repo/builtin/packages/compadre/package.py
  repos/spack_repo/builtin/packages/py_pycompadre/package.py
Labels: new-version, python, update-package

#867 py-keras: add v3.11.0
  repos/spack_repo/builtin/packages/py_keras/package.py
Labels: new-version, python, dependencies, update-package

#852 yosys: add v0.54, v0.55
  repos/spack_repo/builtin/packages/yosys/package.py
Labels: new-version, update-package

#851 py-datalad: fix py-setuptools restriction for old versions
  repos/spack_repo/builtin/packages/py_datalad/package.py
Labels: python, dependencies, update-package

#850 verilator: add v5.038
  repos/spack_repo/builtin/packages/verilator/package.py
Labels: new-version, update-package

#833 nco: add 5.3.4
  repos/spack_repo/builtin/packages/nco/package.py
Labels: new-version, update-package

#842 py-datalad-metalad: add v0.4.22
  repos/spack_repo/builtin/packages/py_datalad_metalad/package.py
Labels: new-version, python, dependencies, update-package

#835 netcdf-fortran: add v4.6.2
  repos/spack_repo/builtin/packages/netcdf_fortran/package.py
Labels: new-version, update-package

#823 py-scipy: add v1.16.1
  repos/spack_repo/builtin/packages/py_scipy/package.py
Labels: new-version, python, dependencies, update-package

#811 meson: add v1.8.2, v1.7.2
  repos/spack_repo/builtin/packages/meson/package.py
Labels: new-version, update-package

#810 pixman: add v0.46.4, v0.44.2
  repos/spack_repo/builtin/packages/pixman/package.py
Labels: new-version, dependencies, update-package

#808 assimp: add v6.0.2
  repos/spack_repo/builtin/packages/assimp/package.py
Labels: new-version, update-package

#803 mlpack: add v4.6.2
  repos/spack_repo/builtin/packages/mlpack/package.py
Labels: new-version, update-package

#487 hdfview: add new version and java usage
  repos/spack_repo/builtin/packages/hdfview/package.py
Labels: new-version, dependencies, update-package

#795 coin3d: add v4.0.4
  repos/spack_repo/builtin/packages/coin3d/package.py
Labels: new-version, update-package

#703 ddc: new package
  repos/spack_repo/builtin/packages/ddc/package.py
Labels: new-package, new-version, dependencies, conflicts, new-variant

#773 py-geemap: add v0.36.0
  repos/spack_repo/builtin/packages/py_anywidget/package.py
  repos/spack_repo/builtin/packages/py_geemap/package.py
  repos/spack_repo/builtin/packages/py_psygnal/package.py
Labels: new-package, new-version, python, dependencies, update-package

#777 py-fastapi: fix dependency
  repos/spack_repo/builtin/packages/py_fastapi/package.py
Labels: python, dependencies, update-package

#587 bash: add v5.3
  repos/spack_repo/builtin/packages/bash/package.py
Labels: new-version, dependencies, update-package

#725 CuPy: new version 13.5.1 and fixes
  repos/spack_repo/builtin/packages/py_cupy/package.py
  repos/spack_repo/builtin/packages/py_fastrlock/package.py
  repos/spack_repo/builtin/packages/rccl/package.py
  repos/spack_repo/builtin/packages/rocprofiler_dev/package.py
Labels: new-version, python, dependencies, update-package

#879 trilinos: update for latest kokkos ecosystem release
  repos/spack_repo/builtin/packages/trilinos/package.py
Labels: dependencies, update-package
