Repository spack/spack-packages, pull requests merged in 2025-10, with the labels that each got.

#1778 cmake: add v4.1.2
  repos/spack_repo/builtin/packages/cmake/package.py
Labels: new-version, update-package

#1800 py-pytz: add v2025.2
  repos/spack_repo/builtin/packages/py_pytz/package.py
Labels: new-version, python, update-package

#1724 vala: add 0.56.18
  repos/spack_repo/builtin/packages/vala/package.py
Labels: new-version, dependencies, update-package

#1432 enzyme: Add v0.0.196
  repos/spack_repo/builtin/packages/enzyme/package.py
Labels: new-version, update-package

#1766 kokkos: fix cmake conflict
  repos/spack_repo/builtin/packages/kokkos/package.py
Labels: update-package, conflicts

#1190 charliecloud: add v0.39 and v0.40 with CDI support
  repos/spack_repo/builtin/packages/charliecloud/package.py
Labels: new-version, dependencies, update-package, new-variant

#1681 gdal: make `+arrow` default to improve build robustness
  repos/spack_repo/builtin/packages/gdal/package.py
Labels: update-package

#1802 yaksa: add v0.4
  repos/spack_repo/builtin/packages/yaksa/package.py
Labels: new-version, update-package

#1382 kokkos: change the default value of the variant serial
  repos/spack_repo/builtin/packages/kokkos/package.py
Labels: update-package

#1157 netcdfc: ensure patchs are applied to only appropriate versions post 3.9.3 update
  repos/spack_repo/builtin/packages/netcdf_c/netcdf-4.9.3-deflate-include-zlib.patch
  repos/spack_repo/builtin/packages/netcdf_c/package.py
Labels: patch, update-package

#1725 tau: modify libunwind variant
  repos/spack_repo/builtin/packages/tau/package.py
  stacks/tools-sdk/spack.yaml
Labels: dependencies, update-package, e4s, new-variant

#1531 Deprecation removals: libxml2
  repos/spack_repo/builtin/packages/bcl2fastq2/cmake-macros.patch
  repos/spack_repo/builtin/packages/bcl2fastq2/cxxConfigure-aarch64.patch
  repos/spack_repo/builtin/packages/bcl2fastq2/cxxConfigure-cmake.patch
  repos/spack_repo/builtin/packages/bcl2fastq2/package.py
  repos/spack_repo/builtin/packages/beatnik/package.py
  repos/spack_repo/builtin/packages/libxml2/nvhpc-elfgcchack.patch
  repos/spack_repo/builtin/packages/libxml2/package.py
  repos/spack_repo/builtin/packages/mvapich2_gdr/package.py
  repos/spack_repo/builtin/packages/mvapich2x/package.py
  repos/spack_repo/builtin/packages/seissol/package.py
  repos/spack_repo/builtin/packages/supernova/package.py
  repos/spack_repo/builtin/packages/tandem/package.py
Labels: update-package, libraries, remove-package

#1815 hpctoolkit: fix build for +gtpin
  repos/spack_repo/builtin/packages/hpctoolkit/package.py
  repos/spack_repo/builtin/packages/intel_gtpin/package.py
Labels: intel, patch, update-package

#1403 Kokkos: Add conflict for debug_dualview_modify_check
  repos/spack_repo/builtin/packages/kokkos/package.py
Labels: update-package, conflicts

#1812 mariadb: fix build setup for older versions
  repos/spack_repo/builtin/packages/mariadb/package.py
Labels: dependencies, update-package

#1787 mpich: Update yaksa dependency
  repos/spack_repo/builtin/packages/mpich/package.py
Labels: update-package

#1795 flecsi: deprecate 2.2.0 and 2.2.1
  repos/spack_repo/builtin/packages/flecsi/package.py
Labels: new-version, update-package

#1794 direnv: add v2.37.1
  repos/spack_repo/builtin/packages/direnv/package.py
Labels: new-version, update-package

#1697 acts: deprecate versions :38
  repos/spack_repo/builtin/packages/acts/package.py
Labels: new-version, update-package

#1673 prometheus_cpp: add version 1.3.0
  repos/spack_repo/builtin/packages/prometheus_cpp/package.py
Labels: new-version, update-package

#1832 Kokkos: Adding a new maintainer
  repos/spack_repo/builtin/packages/kokkos/package.py
Labels: update-package

#1705 factory: new package
  repos/spack_repo/builtin/packages/singular_factory/package.py
Labels: new-package, new-version, dependencies

#1388 Deduplicate med / salome-med packages
  repos/spack_repo/builtin/packages/freecad/package.py
  repos/spack_repo/builtin/packages/med/package.py
  repos/spack_repo/builtin/packages/salome_configuration/package.py
  repos/spack_repo/builtin/packages/salome_med/package.py
  repos/spack_repo/builtin/packages/salome_medcoupling/package.py
Labels: new-version, dependencies, update-package, new-variant

#1631 m4: add conflict and patches for C++17 nodiscard attribute
  repos/spack_repo/builtin/packages/m4/nodiscard.patch
  repos/spack_repo/builtin/packages/m4/package.py
Labels: patch, update-package, conflicts

#1730 magraph5amc: Depend on C++ compiler, encode compilers in config
  repos/spack_repo/builtin/packages/madgraph5amc/package.py
Labels: question, dependencies, update-package

#1055 Curl: add CMake build system
  repos/spack_repo/builtin/packages/curl/package.py
Labels: dependencies, update-package, new-variant

#1736 mpibind: add support for NVIDIA's Grace Hopper architecture
  repos/spack_repo/builtin/packages/hwloc/package.py
  repos/spack_repo/builtin/packages/mpibind/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#1842 Fix for broken libpaths in ESMF mkfile
  repos/spack_repo/builtin/packages/esmf/package.py
Labels: update-package

#1560 Deprecation removals: OpenSSL
  repos/spack_repo/builtin/packages/libevent/package.py
  repos/spack_repo/builtin/packages/mariadb/package.py
  repos/spack_repo/builtin/packages/mysql/fix-no-server-5.5.patch
  repos/spack_repo/builtin/packages/mysql/package.py
  repos/spack_repo/builtin/packages/nginx/package.py
  repos/spack_repo/builtin/packages/nim/package.py
  repos/spack_repo/builtin/packages/openssh/package.py
  repos/spack_repo/builtin/packages/openssl/package.py
  repos/spack_repo/builtin/packages/py_azure_cli/package.py
  repos/spack_repo/builtin/packages/py_cryptography/package.py
  repos/spack_repo/builtin/packages/py_globus_sdk/package.py
  repos/spack_repo/builtin/packages/py_msal/package.py
  repos/spack_repo/builtin/packages/py_mysqldb1/package.py
  repos/spack_repo/builtin/packages/py_oauthlib/package.py
  repos/spack_repo/builtin/packages/py_pyjwt/package.py
  repos/spack_repo/builtin/packages/py_xrootdpyfs/package.py
  repos/spack_repo/builtin/packages/qt/package.py
  repos/spack_repo/builtin/packages/root/package.py
  repos/spack_repo/builtin/packages/ruby/package.py
  repos/spack_repo/builtin/packages/virtuoso/package.py
  repos/spack_repo/builtin/packages/w3m/package.py
  repos/spack_repo/builtin/packages/xrootd/package.py
  repos/spack_repo/builtin/packages/xrootd/python-support.patch
Labels: python, dependencies, update-package, conflicts, new-variant, remove-package

#1833 spfft fix single_precision
  repos/spack_repo/builtin/packages/spfft/package.py
Labels: update-package

#1838 kokkos-kernels: Make +lapack depend on +blas
  repos/spack_repo/builtin/packages/kokkos_kernels/package.py
Labels: question, update-package, conflicts

#1676 mochi-margo: new versions, variants, and build systems
  repos/spack_repo/builtin/packages/mochi_margo/package.py
Labels: new-version, dependencies, update-package, new-variant

#1857 Fix Cabana configure error in CI
  repos/spack_repo/builtin/packages/cabana/package.py
Labels: dependencies, update-package

#1839 libunwind: make m4 directory before autoreconf step
  repos/spack_repo/builtin/packages/libunwind/package.py
Labels: update-package

#1899 precice: add v3.3.0
  repos/spack_repo/builtin/packages/precice/package.py
Labels: new-version, update-package
