Repository spack/spack-packages, pull requests merged in 2025-08, with the labels that each got.

#503 BlisBase: Exposing the optional ability to target alternative build configurations
  repos/spack_repo/builtin/packages/blis/package.py
Labels: update-package

#922 py-cartopy: add v0.25.0
  repos/spack_repo/builtin/packages/py_cartopy/package.py
Labels: new-version, python, dependencies, update-package

#913 py-keras: add v3.11.1
  repos/spack_repo/builtin/packages/py_keras/package.py
Labels: new-version, python, update-package

#892 py-duecredit: add v0.10.2
  repos/spack_repo/builtin/packages/py_duecredit/package.py
Labels: new-version, python, dependencies, update-package

#886 py-distro: add v1.9.0
  repos/spack_repo/builtin/packages/py_distro/package.py
Labels: new-version, python, update-package

#898 py-xhistogram: fix python 3.12
  repos/spack_repo/builtin/packages/py_xhistogram/package.py
  repos/spack_repo/builtin/packages/py_xhistogram/patch_py312_versioneer.patch
Labels: python, dependencies, patch, update-package

#807 py-libclang: setup.py renamed
  repos/spack_repo/builtin/packages/py_libclang/package.py
Labels: python, update-package

#901 Add ajpotts as Arkouda package maintainer
  repos/spack_repo/builtin/packages/arkouda/package.py
Labels: update-package

#673 FairROOT: new package
  repos/spack_repo/builtin/packages/fairroot/package.py
  repos/spack_repo/builtin/packages/fairsoft_bundle/package.py
  repos/spack_repo/builtin/packages/fairsoft_config/package.py
Labels: new-package, new-version, dependencies, new-variant

#497 acts dependencies: new versions as of 2025/07/07
  repos/spack_repo/builtin/packages/covfie/package.py
  repos/spack_repo/builtin/packages/detray/package.py
Labels: new-version, dependencies, update-package

#928 apfel: fix cmake version typo; add type=build
  repos/spack_repo/builtin/packages/apfel/package.py
Labels: dependencies, update-package

#806 OpenMPI: can't build with flang 19 and older
  repos/spack_repo/builtin/packages/openmpi/package.py
Labels: update-package, conflicts

#931 udunits: Fix download URL
  repos/spack_repo/builtin/packages/udunits/package.py
Labels: update-package

#530 Expect: apply patch to satisfy gcc@13:
  repos/spack_repo/builtin/packages/expect/func_proto.patch
  repos/spack_repo/builtin/packages/expect/package.py
Labels: patch, update-package

#560 Fix relion 5.0.0 ~cuda build
  repos/spack_repo/builtin/packages/relion/package.py
Labels: update-package

#929 gobject-introspection: restore setuptools@44: support
  repos/spack_repo/builtin/packages/gobject_introspection/package.py
Labels: patch, update-package

#950 netcdf-fortran: Make sure -fallow-argument-mismatch is added only for gfortran
  repos/spack_repo/builtin/packages/netcdf_fortran/package.py
Labels: update-package

#959 new py-psycopg2 version
  repos/spack_repo/builtin/packages/py_psycopg2/package.py
Labels: new-version, python, dependencies, update-package

#883 py-debugpy: add v1.8.15
  repos/spack_repo/builtin/packages/py_debugpy/package.py
Labels: new-version, python, update-package

#590 py-aniso8601: add v10.0.1
  repos/spack_repo/builtin/packages/py_aniso8601/package.py
Labels: new-version, python, update-package

#962 iwyu,g2,r-curl: requires(pkg) -> requires(^pkg)
  repos/spack_repo/builtin/packages/g2/package.py
  repos/spack_repo/builtin/packages/iwyu/package.py
  repos/spack_repo/builtin/packages/r_curl/package.py
Labels: R, update-package

#954 amrex: add v25.08
  repos/spack_repo/builtin/packages/amrex/package.py
Labels: new-version, update-package

#604 beast2: add v2.7.7: Should solve #268
  repos/spack_repo/builtin/packages/beast2/package.py
Labels: new-version, update-package

#862 py-pytest: add v8.2.2, v8.3.5, v8.4.1
  repos/spack_repo/builtin/packages/py_pytest/package.py
Labels: new-version, python, dependencies, update-package

#943 GSL: fix configure args for external cblas
  repos/spack_repo/builtin/packages/gsl/package.py
Labels: update-package

#942 pdf2svg: add v0.2.4
  repos/spack_repo/builtin/packages/pdf2svg/package.py
Labels: new-version, dependencies, update-package, conflicts

#914 (py-)fenics-dolfinx: dependency fixes and improvements
  repos/spack_repo/builtin/packages/fenics_dolfinx/package.py
  repos/spack_repo/builtin/packages/py_fenics_dolfinx/package.py
Labels: new-version, python, dependencies, update-package, new-variant

#535 Adding PAPI 7.2.0
  repos/spack_repo/builtin/packages/papi/package.py
Labels: new-version, dependencies, update-package, new-variant

#910 ports_of_call: kokkos bugfix and update c dependency
  repos/spack_repo/builtin/packages/ports_of_call/package.py
Labels: dependencies, update-package

#907 py-prometheus-client: add v0.22.1
  repos/spack_repo/builtin/packages/py_prometheus_client/package.py
Labels: new-version, python, dependencies, update-package

#634 py-bids-validator: add v1.14.7.post0 and new dependency packages
  repos/spack_repo/builtin/packages/py_acres/package.py
  repos/spack_repo/builtin/packages/py_bids_validator/package.py
  repos/spack_repo/builtin/packages/py_bidsschematools/package.py
Labels: new-package, new-version, python, dependencies, update-package

#712 unzip: fix built for gcc@15 and add security patches
  repos/spack_repo/builtin/packages/unzip/package.py
Labels: dependencies, patch, update-package

#926 py-hf-xet: add missing dependencies on c and cxx
  repos/spack_repo/builtin/packages/py_hf_xet/package.py
Labels: python, dependencies, update-package

#978 vtk: add vicentebolea as maintainer
  repos/spack_repo/builtin/packages/vtk/package.py
Labels: update-package

#730 py-pyqt6: add v6.9.1 and update dependency packages
  repos/spack_repo/builtin/packages/py_pyqt6/package.py
  repos/spack_repo/builtin/packages/py_pyqt6_sip/package.py
  repos/spack_repo/builtin/packages/py_pyqt_builder/package.py
  repos/spack_repo/builtin/packages/py_sip/package.py
Labels: new-version, python, dependencies, update-package

#963 py-pygrib: add new package
  repos/spack_repo/builtin/packages/py_pygrib/package.py
Labels: new-package, new-version, python, dependencies

#442 vtk: add versioned_install variant
  repos/spack_repo/builtin/packages/visit/package.py
  repos/spack_repo/builtin/packages/vtk/package.py
Labels: dependencies, update-package, new-variant, waiting-on-maintainer

#444 Add new versions to survey package.py
  repos/spack_repo/builtin/packages/survey/package.py
Labels: new-version, update-package

#782 py-coverage: add v7.10.0
  repos/spack_repo/builtin/packages/py_coverage/package.py
Labels: new-version, python, update-package

#484 CP2K: improved support for OneAPI and introduced OpenCL
  repos/spack_repo/builtin/packages/cp2k/package.py
Labels: new-version, dependencies, update-package, new-variant

#480 dbcsr: support opencl and oneapi based mkl
  repos/spack_repo/builtin/packages/dbcsr/package.py
  repos/spack_repo/builtin/packages/opencl_c_headers/package.py
  repos/spack_repo/builtin/packages/opencl_icd_loader/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#474 Qt: fixup win masm patch
  repos/spack_repo/builtin/packages/icu4c/Quote_datagen.patch
  repos/spack_repo/builtin/packages/icu4c/package.py
  repos/spack_repo/builtin/packages/qt/package.py
  repos/spack_repo/builtin/packages/qt/quote_qt515_foreign_types.patch
  repos/spack_repo/builtin/packages/qt/quote_qt515_masm_python.patch
  repos/spack_repo/builtin/packages/qt/quote_qt515_masm_script.patch
  repos/spack_repo/builtin/packages/qt/sfn_qt515_root_configure_path.patch
  stacks/windows-vis/spack.yaml
Labels: patch, update-package

#470 Add ci smoke test package
  .ci/configs/repos.yaml
  .ci/repos/spack_repo/ci/__init__.py
  .ci/repos/spack_repo/ci/packages/smoke_test/package.py
  .ci/repos/spack_repo/ci/repo.yaml
Labels: new-version

#643 adios2: add patch for gcc 7
  repos/spack_repo/builtin/packages/adios2/package.py
Labels: patch, update-package

#582 spack-configs-tools-sdk: new package for TOOLS SDK Spack configs
  repos/spack_repo/builtin/packages/spack_configs_tools_sdk/package.py
Labels: new-package, new-version

#1001 jacamar-ci: add v0.27.0
  repos/spack_repo/builtin/packages/jacamar_ci/package.py
Labels: new-version, dependencies, update-package

#990 eztrace: add v2.2.1
  repos/spack_repo/builtin/packages/eztrace/package.py
Labels: new-version, dependencies, update-package, new-variant

#964 Sandia Micro Benchmarks
  repos/spack_repo/builtin/packages/sandia_micro_benchmarks/package.py
Labels: new-package, new-version, dependencies, new-variant

#1008 yosys: add v0.56
  repos/spack_repo/builtin/packages/yosys/package.py
Labels: new-version, update-package

#1005 ncdu: add v1.22
  repos/spack_repo/builtin/packages/ncdu/package.py
Labels: new-version, update-package

#1004 mergiraf: add v0.8.1 -> 0.13.0
  repos/spack_repo/builtin/packages/mergiraf/package.py
Labels: new-version, dependencies, update-package

#973 libpressio: add blosc2 depends_on
  repos/spack_repo/builtin/packages/libpressio/package.py
Labels: dependencies, update-package

#999 coreutils: add v9.7
  repos/spack_repo/builtin/packages/coreutils/package.py
Labels: new-version, update-package

#998 difftastic: add v0.64.0
  repos/spack_repo/builtin/packages/difftastic/package.py
Labels: new-version, dependencies, update-package

#997 fzf: add v0.65.1
  repos/spack_repo/builtin/packages/fzf/package.py
Labels: new-version, update-package

#996 gh: add v2.76.2
  repos/spack_repo/builtin/packages/gh/package.py
Labels: new-version, dependencies, update-package

#995 py-unyt: add v3.0.4
  repos/spack_repo/builtin/packages/py_unyt/package.py
Labels: new-version, python, update-package

#976 py-exhale: add version 0.3.7
  repos/spack_repo/builtin/packages/py_exhale/package.py
Labels: new-version, python, dependencies, update-package

#939 scotch: patch instead of conflict for oneAPI/FPE issue
  repos/spack_repo/builtin/packages/scotch/package.py
Labels: update-package

#815 scikit-hep packages: update to latest major.minor versions
  repos/spack_repo/builtin/packages/py_awkward/package.py
  repos/spack_repo/builtin/packages/py_awkward_cpp/package.py
  repos/spack_repo/builtin/packages/py_boost_histogram/package.py
  repos/spack_repo/builtin/packages/py_cramjam/package.py
  repos/spack_repo/builtin/packages/py_hepunits/package.py
  repos/spack_repo/builtin/packages/py_iminuit/package.py
  repos/spack_repo/builtin/packages/py_mplhep/package.py
  repos/spack_repo/builtin/packages/py_particle/package.py
  repos/spack_repo/builtin/packages/py_uproot/package.py
  repos/spack_repo/builtin/packages/py_vector/package.py
Labels: new-package, new-version, python, dependencies, update-package

#874 py-contourpy: add v1.3.3
  repos/spack_repo/builtin/packages/py_contourpy/package.py
Labels: new-version, python, dependencies, update-package

#875 py-dcm2bids: add v3.2.0
  repos/spack_repo/builtin/packages/py_dcm2bids/package.py
Labels: new-version, python, dependencies, update-package

#821 py-blake3: new package
  repos/spack_repo/builtin/packages/py_blake3/package.py
Labels: new-package, new-version, python, dependencies

#817 py-uvloop: add v0.21.0
  repos/spack_repo/builtin/packages/py_uvloop/package.py
Labels: new-version, python, dependencies, update-package

#781 py-comm: add v0.2.2
  repos/spack_repo/builtin/packages/py_comm/package.py
Labels: new-version, python, update-package

#772 py-triton: add v3.4.0, v3.3.1, v3.2.0
  repos/spack_repo/builtin/packages/py_triton/package.py
Labels: new-version, python, dependencies, update-package

#743 py-memray: needs debuginfod so enable it in depends on `elfutils+debuginfod`
  repos/spack_repo/builtin/packages/py_memray/package.py
Labels: python, dependencies, update-package

#683 py_pyvista: add 0.45.3
  repos/spack_repo/builtin/packages/py_pyvista/package.py
Labels: new-version, python, dependencies, update-package

#1016 Rework `actions.yml` to use `$GITHUB_WORKSPACE`
  .github/actions/checkout-spack/action.yml
Labels: ci

#1012 py-torchmetrics: add v1.8.1
  repos/spack_repo/builtin/packages/py_torchmetrics/package.py
Labels: new-version, python, update-package

#1015 Recover bootstrap tests
  .github/workflows/bootstrap.yml
Labels: ci

#1000 gnupg: add v2.5.11, fix conflicts for libassuan on macos
  repos/spack_repo/builtin/packages/gnupg/package.py
  repos/spack_repo/builtin/packages/libassuan/package.py
Labels: new-version, update-package, conflicts

#1019 gromacs : update cmake requirements.
  repos/spack_repo/builtin/packages/gromacs/package.py
Labels: dependencies, update-package

#1020 gcc: add v15.2.0
  repos/spack_repo/builtin/packages/gcc/package.py
Labels: new-version, update-package, waiting-on-maintainer

#970 hpcviewer: add version 2025.2.0
  repos/spack_repo/builtin/packages/hpcviewer/package.py
Labels: update-package

#804 mimalloc: add a range for when to apply a policy in CMake
  repos/spack_repo/builtin/packages/mimalloc/package.py
Labels: update-package

#899 py-xarray_regrid: add 0.4.1 and +accel
  repos/spack_repo/builtin/packages/py_xarray_regrid/package.py
Labels: new-version, python, dependencies, update-package, new-variant

#1029 aom: add v3.12.1
  repos/spack_repo/builtin/packages/aom/package.py
Labels: new-version, dependencies, update-package

#1030 ffmpeg: use nasm
  repos/spack_repo/builtin/packages/ffmpeg/package.py
Labels: dependencies, update-package

#873 py-adios4dolfinx: new package (related to adios2)
  repos/spack_repo/builtin/packages/py_adios4dolfinx/package.py
Labels: new-package, new-version, python, dependencies

#1013 py-geemap: add v0.36.1
  repos/spack_repo/builtin/packages/py_earthengine_api/package.py
  repos/spack_repo/builtin/packages/py_geemap/package.py
Labels: new-version, python, dependencies, update-package

#902 py-geopmpy: Make py-torch optional
  repos/spack_repo/builtin/packages/py_geopmpy/package.py
Labels: python, dependencies, update-package, new-variant

#654 spack-configs-facilities: new package for DOE facility spack configs
  repos/spack_repo/builtin/packages/spack_configs_dav_sdk/package.py
  repos/spack_repo/builtin/packages/spack_configs_facilities/package.py
Labels: new-package, new-version, dependencies, update-package, new-variant

#1046 duckdb: add v1.3.2
  repos/spack_repo/builtin/packages/duckdb/package.py
Labels: new-version, update-package

#1054 curl: add NMake deprecation acknowledgement
  repos/spack_repo/builtin/packages/curl/package.py
Labels: update-package

#1045 Added Conduit 0.9.4 dependency for Ascent 0.9.4
  repos/spack_repo/builtin/packages/ascent/package.py
Labels: dependencies, update-package

#1040 elfutils: add version 0.193
  repos/spack_repo/builtin/packages/elfutils/package.py
  repos/spack_repo/builtin/packages/hpctoolkit/package.py
Labels: new-version, update-package

#1036 Damaris package updated to use tag v1.12.1
  repos/spack_repo/builtin/packages/damaris/package.py
Labels: new-version, update-package

#985 PyTorch: add v2.8.0
  repos/spack_repo/builtin/packages/cpuinfo/package.py
  repos/spack_repo/builtin/packages/gloo/package.py
  repos/spack_repo/builtin/packages/nvtx/package.py
  repos/spack_repo/builtin/packages/py_torch/gloo_cuda.patch
  repos/spack_repo/builtin/packages/py_torch/package.py
  repos/spack_repo/builtin/packages/py_torchaudio/package.py
  repos/spack_repo/builtin/packages/py_torchvision/package.py
  repos/spack_repo/builtin/packages/sleef/package.py
Labels: new-version, python, dependencies, patch, update-package, new-variant

#1031 py-ipycanvas: add v0.14.1
  repos/spack_repo/builtin/packages/py_ipycanvas/package.py
Labels: new-version, python, dependencies, update-package

#1009 openfpgaloader: new package
  repos/spack_repo/builtin/packages/openfpgaloader/package.py
Labels: new-package, new-version, dependencies

#880 adios2: fix load when using python
  repos/spack_repo/builtin/packages/adios2/package.py
Labels: dependencies, update-package, stand-alone-tests

#961 Palace: update package.py for 0.13.0 and include 0.12.0 patch.
  repos/spack_repo/builtin/packages/palace/package.py
  repos/spack_repo/builtin/packages/palace/palace-0.12.0.patch
Labels: new-version, dependencies, patch, update-package, conflicts, new-variant

#869 Update toolchain for radiuss stack
  .ci/gitlab/.gitlab-ci.yml
  repos/spack_repo/builtin/packages/papi/package.py
  repos/spack_repo/builtin/packages/papi/perl-in-env.patch
  stacks/radiuss/spack.yaml
Labels: dependencies, patch, update-package, ci

#1074 Elpa: Add new version and a fix for aocc
  repos/spack_repo/builtin/packages/elpa/package.py
Labels: new-version, update-package

#1090 Update stale bot messages in GitHub Actions workflow
  .github/workflows/stale.yaml
Labels: ci

#897 py-xarray: update to 2025.7.1
  repos/spack_repo/builtin/packages/py_bottleneck/package.py
  repos/spack_repo/builtin/packages/py_dask/package.py
  repos/spack_repo/builtin/packages/py_dask_expr/package.py
  repos/spack_repo/builtin/packages/py_distributed/package.py
  repos/spack_repo/builtin/packages/py_numbagg/package.py
  repos/spack_repo/builtin/packages/py_pyogrio/package.py
  repos/spack_repo/builtin/packages/py_versioneer/package.py
  repos/spack_repo/builtin/packages/py_xarray/package.py
Labels: new-package, new-version, python, dependencies, update-package, new-variant

#1117 ucc: add v1.5.0
  repos/spack_repo/builtin/packages/ucc/package.py
Labels: new-version, update-package

#1119 jacamar-ci: add v0.27.1
  repos/spack_repo/builtin/packages/jacamar_ci/package.py
Labels: new-version, update-package

#1108 Updated iq_tree 2.4.0
  repos/spack_repo/builtin/packages/iq_tree/package.py
Labels: new-version, update-package, waiting-on-maintainer

#1102 go and rust: allow multiple versions in concretized specs
  repos/spack_repo/builtin/packages/go/package.py
  repos/spack_repo/builtin/packages/rust/package.py
Labels: update-package

#1075 seacas: allow to compile older versions with recent GCC
  repos/spack_repo/builtin/packages/seacas/package.py
Labels: update-package

#704 gribjump: new package
  repos/spack_repo/builtin/packages/gribjump/package.py
Labels: new-package, new-version, dependencies

#1063 py-rioxarray: add v0.19.0
  repos/spack_repo/builtin/packages/py_rioxarray/package.py
Labels: new-version, python, dependencies, update-package, new-variant

#1059 easi: fix unused value
  repos/spack_repo/builtin/packages/easi/package.py
Labels: update-package

#1058 py-keras: add v3.11.2
  repos/spack_repo/builtin/packages/py_keras/package.py
Labels: new-version, python, update-package

#1127 Deprecation removals: R
  repos/spack_repo/builtin/packages/r_adsplit/package.py
  repos/spack_repo/builtin/packages/r_annaffy/package.py
  repos/spack_repo/builtin/packages/r_curl/package.py
  repos/spack_repo/builtin/packages/r_irkernel/package.py
  repos/spack_repo/builtin/packages/r_kegg_db/package.py
  repos/spack_repo/builtin/packages/r_maptools/package.py
  repos/spack_repo/builtin/packages/r_rgdal/package.py
  repos/spack_repo/builtin/packages/r_rgeos/package.py
  repos/spack_repo/builtin/packages/r_sf/package.py
  repos/spack_repo/builtin/packages/r_v8/package.py
Labels: R, update-package, remove-package

#1065 xsdk: add compiler dependencies
  repos/spack_repo/builtin/packages/xsdk/package.py
Labels: dependencies, update-package

#1077 vtk: rework missing standard include management
  repos/spack_repo/builtin/packages/vtk/package.py
Labels: update-package

#1061 Kokkos ecosystem v4.7.00
  repos/spack_repo/builtin/packages/kokkos/package.py
  repos/spack_repo/builtin/packages/kokkos_kernels/package.py
  repos/spack_repo/builtin/packages/kokkos_nvcc_wrapper/package.py
Labels: new-version, update-package

#1121 poppler: update test resource url
  repos/spack_repo/builtin/packages/poppler/package.py
Labels: update-package

#1082 Adding include and library path for pciutils for ROCmValidationSuite
  repos/spack_repo/builtin/packages/pciutils/package.py
  repos/spack_repo/builtin/packages/rocm_validation_suite/010-add-drm-include-path.patch
  repos/spack_repo/builtin/packages/rocm_validation_suite/package.py
Labels: dependencies, update-package, new-variant

#74 py-hist: add v2.6.2 thru v2.8.0 (switch to hatchling)
  repos/spack_repo/builtin/packages/py_dask_awkward/package.py
  repos/spack_repo/builtin/packages/py_dask_histogram/package.py
  repos/spack_repo/builtin/packages/py_hist/package.py
  stacks/hep/spack.yaml
Labels: new-package, new-version, python, dependencies, update-package, new-variant

#1047 py-greenlet: add v3.2.2
  repos/spack_repo/builtin/packages/py_greenlet/package.py
Labels: new-version, python, dependencies, update-package

#1088 podio: Add latest tag 1.4 and 1.4.1
  repos/spack_repo/builtin/packages/podio/package.py
Labels: new-version, update-package

#1135 Trilinos: updating recipe for kokkos 4.7.00
  repos/spack_repo/builtin/packages/trilinos/package.py
Labels: dependencies, update-package

#1133 seacas: 2025-08-19 release
  repos/spack_repo/builtin/packages/seacas/package.py
Labels: new-version, update-package

#1128 Deprecation removals: Singularity
  repos/spack_repo/builtin/packages/openmpi/package.py
  repos/spack_repo/builtin/packages/py_spython/package.py
  repos/spack_repo/builtin/packages/singularity/package.py
  repos/spack_repo/builtin/packages/singularity/singularity_v3.4.0_remove_root_check.patch
  repos/spack_repo/builtin/packages/singularity/spack_perms_fix.sh.j2
  repos/spack_repo/builtin/packages/singularity_eos/package.py
  repos/spack_repo/builtin/packages/singularity_hpc/package.py
  repos/spack_repo/builtin/packages/singularity_legacy/package.py
  stacks/aws-pcluster-neoverse_v1/spack.yaml
  stacks/aws-pcluster-x86_64_v4/spack.yaml
Labels: python, update-package, remove-package

#1138 Swap "if ... in self.spec" with "self.spec.satisfies(...)" in ICON package
  repos/spack_repo/builtin/packages/icon/package.py
Labels: update-package

#134 py_gevent: add v25.5.1
  repos/spack_repo/builtin/packages/py_gevent/package.py
Labels: new-version, python, dependencies, update-package

#524 pumi: remove MPI executable path constraint
  repos/spack_repo/builtin/packages/pumi/package.py
Labels: update-package

#987 py-scifem: new package (related to py-fenics-dolfinx)
  repos/spack_repo/builtin/packages/py_scifem/package.py
Labels: new-package, new-version, python, dependencies, new-variant

#854 mscclpp: new package
  repos/spack_repo/builtin/packages/mscclpp/mscclpp-numa-include-dir-001.patch
  repos/spack_repo/builtin/packages/mscclpp/package.py
Labels: new-package, new-version, dependencies, patch, conflicts, new-variant

#1146 Palace: Add 0.14.0
  repos/spack_repo/builtin/packages/palace/package.py
Labels: new-version, update-package

#1095 py-lightning: add v2.5.3
  repos/spack_repo/builtin/packages/py_lightning/package.py
Labels: new-version, python, dependencies, update-package

#1150 py-snakeviz: add new package
  repos/spack_repo/builtin/packages/py_snakeviz/package.py
Labels: new-package, new-version, python, dependencies

#1160 py-pyinstrument: add v5.1.1
  repos/spack_repo/builtin/packages/py_pyinstrument/package.py
Labels: new-version, python, update-package

#764 arrayfire: Add version 3.9.0 with patches and dependencies
  repos/spack_repo/builtin/packages/arrayfire/3521-fix-build-failure-with-cudnn.patch
  repos/spack_repo/builtin/packages/arrayfire/add-build-dir-to-cmake.patch
  repos/spack_repo/builtin/packages/arrayfire/fmt-v11.patch
  repos/spack_repo/builtin/packages/arrayfire/package.py
Labels: new-version, dependencies, patch, update-package, conflicts, new-variant

#1141 rocm-openmp-extras: use spack compiler wrapper when building with rocmcc
  repos/spack_repo/builtin/packages/rocm_openmp_extras/package.py
Labels: dependencies, update-package, bugfix

#681 openmx: fix build with latest gcc, aocc and intel-oneapi
  repos/spack_repo/builtin/packages/openmx/package.py
Labels: dependencies, resources, update-package

#1143 poppler: add v25.08.0
  repos/spack_repo/builtin/packages/poppler/package.py
Labels: new-version, dependencies, update-package, conflicts

#1125 Deprecation removals: AMD
  repos/spack_repo/builtin/packages/aqlprofile/package.py
  repos/spack_repo/builtin/packages/comgr/package.py
  repos/spack_repo/builtin/packages/composable_kernel/package.py
  repos/spack_repo/builtin/packages/hip/package.py
  repos/spack_repo/builtin/packages/hipblas/package.py
  repos/spack_repo/builtin/packages/hipcub/package.py
  repos/spack_repo/builtin/packages/hipfft/package.py
  repos/spack_repo/builtin/packages/hipfort/package.py
  repos/spack_repo/builtin/packages/hipify_clang/package.py
  repos/spack_repo/builtin/packages/hiprand/package.py
  repos/spack_repo/builtin/packages/hipsolver/package.py
  repos/spack_repo/builtin/packages/hipsparse/package.py
  repos/spack_repo/builtin/packages/hsa_rocr_dev/package.py
  repos/spack_repo/builtin/packages/hsakmt_roct/package.py
  repos/spack_repo/builtin/packages/migraphx/package.py
  repos/spack_repo/builtin/packages/miopen_hip/package.py
  repos/spack_repo/builtin/packages/mivisionx/package.py
  repos/spack_repo/builtin/packages/rccl/package.py
  repos/spack_repo/builtin/packages/rdc/package.py
  repos/spack_repo/builtin/packages/rocalution/package.py
  repos/spack_repo/builtin/packages/rocblas/package.py
  repos/spack_repo/builtin/packages/rocfft/package.py
  repos/spack_repo/builtin/packages/rocm_bandwidth_test/package.py
  repos/spack_repo/builtin/packages/rocm_clang_ocl/package.py
  repos/spack_repo/builtin/packages/rocm_cmake/package.py
  repos/spack_repo/builtin/packages/rocm_core/package.py
  repos/spack_repo/builtin/packages/rocm_dbgapi/package.py
  repos/spack_repo/builtin/packages/rocm_debug_agent/package.py
  repos/spack_repo/builtin/packages/rocm_device_libs/package.py
  repos/spack_repo/builtin/packages/rocm_gdb/package.py
  repos/spack_repo/builtin/packages/rocm_opencl/package.py
  repos/spack_repo/builtin/packages/rocm_openmp_extras/package.py
  repos/spack_repo/builtin/packages/rocm_smi_lib/package.py
  repos/spack_repo/builtin/packages/rocm_tensile/package.py
  repos/spack_repo/builtin/packages/rocm_validation_suite/package.py
  repos/spack_repo/builtin/packages/rocminfo/package.py
  repos/spack_repo/builtin/packages/rocprim/package.py
  repos/spack_repo/builtin/packages/rocprofiler_dev/package.py
  repos/spack_repo/builtin/packages/rocprofiler_systems/package.py
  repos/spack_repo/builtin/packages/rocrand/package.py
  repos/spack_repo/builtin/packages/rocsolver/package.py
  repos/spack_repo/builtin/packages/rocsparse/package.py
  repos/spack_repo/builtin/packages/rocthrust/package.py
  repos/spack_repo/builtin/packages/roctracer_dev/package.py
  repos/spack_repo/builtin/packages/roctracer_dev_api/package.py
  repos/spack_repo/builtin/packages/rocwmma/package.py
  repos/spack_repo/builtin/packages/rpp/package.py
Labels: update-package

#933 py-nvidia-dali: add v1.50.0
  repos/spack_repo/builtin/packages/py_dm_tree/package.py
  repos/spack_repo/builtin/packages/py_nvidia_dali/package.py
Labels: new-version, python, dependencies, update-package, conflicts, waiting-on-maintainer

#1107 Adding harfbuzz versions
  repos/spack_repo/builtin/packages/harfbuzz/package.py
Labels: new-version, update-package

#1162 kokkos: remove unnecessary language dependencies
  repos/spack_repo/builtin/packages/kokkos/package.py
  repos/spack_repo/builtin/packages/kokkos_nvcc_wrapper/package.py
Labels: dependencies, patch, update-package

#1207 py-pyomo: add release 6.9.4
  repos/spack_repo/builtin/packages/py_pyomo/package.py
Labels: new-version, python, update-package

#1191 snakemake: prefer most recent 8-series version
  repos/spack_repo/builtin/packages/snakemake/package.py
Labels: new-version, update-package

#1171 py-keras: add v3.11.3
  repos/spack_repo/builtin/packages/py_keras/package.py
Labels: new-version, python, update-package

#1149 mesa-glu: update to current release url
  repos/spack_repo/builtin/packages/mesa_glu/package.py
Labels: update-package

#1215 kokkos: deprecate master branch
  repos/spack_repo/builtin/packages/kokkos/package.py
  repos/spack_repo/builtin/packages/kokkos_kernels/package.py
  repos/spack_repo/builtin/packages/kokkos_nvcc_wrapper/package.py
Labels: new-version, update-package

#1228 [scrnsaverproto] Added missing c dependency
  repos/spack_repo/builtin/packages/scrnsaverproto/package.py
Labels: dependencies, update-package

#1174 gdrcopy: fix nvcc flags for multiple cuda_arch
  repos/spack_repo/builtin/packages/gdrcopy/package.py
Labels: update-package

#1197 ExaWind: add variants involving openturbine
  repos/spack_repo/builtin/packages/exawind/package.py
  repos/spack_repo/builtin/packages/nalu_wind/package.py
Labels: dependencies, update-package, new-variant

#1222 linaro-forge: add v25.0.3
  repos/spack_repo/builtin/packages/linaro_forge/package.py
Labels: new-version, update-package

#1220 py-torchgeo: deprecate v0.6.0 and older
  repos/spack_repo/builtin/packages/py_torchgeo/package.py
Labels: new-version, python, update-package

#1200 cdt: add 1.4.4
  repos/spack_repo/builtin/packages/cdt/package.py
Labels: new-version, dependencies, update-package

#1219 py-webdataset: add v1.0.2, deprecate older
  repos/spack_repo/builtin/packages/py_webdataset/package.py
Labels: new-version, python, update-package

#1241 Added gcc conflict for py-numpy
  repos/spack_repo/builtin/packages/py_numpy/package.py
Labels: python, update-package, conflicts

#1233 viskores: add v1.1.0-rc1 version
  repos/spack_repo/builtin/packages/viskores/package.py
Labels: new-version, update-package

#1236 vtk-h: add missing C compiler dependency
  repos/spack_repo/builtin/packages/vtk_h/package.py
Labels: dependencies, update-package
